@font-face {
  font-family: 'Raleway';
  src: url("https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap");
  font-display: swap; }

@font-face {
  font-family: 'Open Sans', sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
  font-display: swap; }

.nav {
  width: 375px;
  height: 70px;
  left: 0px;
  top: 0px;
  background: #FFFFFF;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.29); }
  .nav__menu {
    display: inline; }
  .nav img {
    width: 20px;
    height: 12px;
    left: 325px;
    top: 29px;
    margin-left: 94px;
    margin-top: 34px; }

h3 {
  width: 303px;
  height: 112px;
  left: 36px;
  top: 714px;
  margin-top: 13px;
  margin-left: 36px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 35px;
  /* or 117% */
  text-align: center;
  color: #000000; }

.btn {
  width: 310px;
  height: 67px;
  left: 0px;
  top: 0px;
  margin-top: 148px;
  margin-left: 33px;
  background: #08A6E4;
  box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.29);
  border-radius: 40px; }

.background {
  width: 779px;
  height: 267px;
  left: -201.5px;
  top: 434px;
  margin-top: 51px; }

.section {
  width: 375px;
  height: 1395.66px;
  background: #F7F7F7; }

.macbook {
  position: relative;
  margin: auto;
  top: 37px;
  left: 55px;
  z-index: 1; }

.iphone {
  position: relative;
  margin: auto;
  width: 175px;
  height: 134.99px;
  left: 90px;
  top: 19.01px;
  z-index: 1; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  min-width: 320px; }

h1 {
  font-family: Raleway;
  display: inline;
  width: 206px;
  height: 37px;
  margin-left: 25px;
  top: 17px;
  font-style: normal;
  font-weight: 300;
  font-size: 32px;
  line-height: 37px;
  color: #08A6E4; }

h2 {
  position: relative;
  width: 162px;
  height: 41px;
  margin-left: 106px;
  top: 100px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 41px;
  text-align: center;
  color: #000000; }

h4 {
  position: relative;
  top: 22px;
  width: 127px;
  height: 22px;
  left: 92px;
  top: 22px;
  font-family: OpenSans;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height, or 138% */
  text-align: center;
  color: #FFFFFF; }

.main__title {
  position: relative;
  top: 120px;
  width: 308px;
  height: 57px;
  margin-left: 34px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  /* or 144% */
  text-align: center;
  color: #000000; }

.circle1 {
  width: 62.71px;
  height: 62.71px;
  border-radius: 50%;
  left: 21.73px;
  top: 0px;
  margin-left: 150px;
  margin-top: 25px;
  background: #FB3B64; }
  .circle1 img {
    margin-left: 30px; }

.numbers {
  width: 117px;
  height: 24px;
  left: 0px;
  top: 76.89px;
  margin-left: 129px;
  margin-top: 14px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 5.96px;
  color: #000000; }

.phrase {
  display: inline-block;
  width: 95px;
  height: 20px;
  left: 11.15px;
  top: 120px;
  margin-left: 140px;
  margin-top: 19px;
  margin-bottom: 50px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  color: #A5A5A5; }

.circle2 {
  width: 62.71px;
  height: 62.71px;
  border-radius: 50%;
  left: 21.73px;
  top: 0px;
  margin-left: 150px;
  margin-top: 25px;
  background: #08A6E4; }
  .circle2 img {
    margin-left: 30px;
    margin-top: 14px; }

.circle3 {
  width: 62.71px;
  height: 62.71px;
  border-radius: 50%;
  left: 21.73px;
  top: 0px;
  margin-left: 150px;
  margin-top: 25px;
  background: #55DFB4; }
  .circle3 img {
    margin-left: 31px;
    margin-top: 6px; }

.benefits {
  width: 314px;
  height: 370px;
  left: 0px;
  top: 0px;
  position: relative;
  margin: 42px auto;
  top: 42px;
  background: #FFFFFF;
  border: 1px solid #E8E9ED;
  border-radius: 5px; }
  .benefits__background {
    display: inline-block;
    width: 90.12px;
    height: 90.12px;
    left: 0px;
    top: 63.72px;
    background: #FB3B64;
    border-radius: 41px;
    transform: rotate(-45deg); }
  .benefits__background2 {
    position: relative;
    display: inline-block;
    width: 131.88px;
    height: 131.7px;
    border-radius: 50%;
    left: auto;
    right: 90px;
    top: 12px;
    background: #08A6E4; }
  .benefits__container {
    position: relative;
    top: 70px;
    left: 22px; }
  .benefits__mytitle1 {
    width: 198px;
    height: 72px;
    top: 174px;
    left: 22px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    color: #000000; }
  .benefits__mytitle2 {
    width: 218px;
    height: 70px;
    top: 180px;
    left: 22px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    color: #000000; }
  .benefits__lorem1 {
    width: 272px;
    height: 84px;
    left: 21px;
    top: 256px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #000000; }
  .benefits__lorem2 {
    width: 272px;
    height: 84px;
    left: 21px;
    top: 268px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #000000; }

.benefits3 {
  position: relative;
  width: 314px;
  height: 298px;
  left: 30px;
  top: 42px;
  background: #FFFFFF;
  border: 1px solid #E8E9ED;
  border-radius: 5px; }
  .benefits3__mytitle3 {
    width: 274px;
    height: 109px;
    top: 31px;
    left: 22px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    color: #000000;
    position: relative; }
  .benefits3__lorem3 {
    width: 272px;
    height: 114px;
    left: 21px;
    top: 160px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #000000;
    padding-right: 20px;
    margin-left: 22px;
    margin-top: 50px; }

.rectanglecolor {
  width: 314px;
  height: 195px;
  left: 11.69px;
  top: 291px;
  margin-top: 42px;
  margin-left: 30px;
  background: #55DFB4;
  border: 1px solid #E8E9ED;
  border-radius: 5px; }
  .rectanglecolor img {
    width: 295.73px;
    height: 207.72px;
    left: 0px;
    top: 315.64px;
    margin-top: 24px; }

.price h2 {
  position: relative;
  width: 114px;
  height: 42px;
  left: 131px;
  top: 53px;
  margin: 0px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  color: #000000; }

.price__basic1 {
  display: inline-block;
  position: relative;
  width: 293px;
  height: 251px;
  left: 41px;
  top: 70px;
  margin: 0 auto;
  background: #FFFFFF;
  border: 1px solid #FB3B64;
  border-radius: 18px; }

.price__basic2 {
  display: inline-block;
  position: relative;
  width: 339px;
  height: 277px;
  left: 41px;
  top: 70px;
  margin: 0 auto;
  background: #FFFFFF;
  border: 1px solid #07ACE6;
  border-radius: 18px;
  box-shadow: 5px 10px 27px rgba(7, 172, 230, 0.29);
  left: 18px; }

.price__basic3 {
  display: inline-block;
  position: relative;
  width: 293px;
  height: 251px;
  left: 41px;
  top: 70px;
  margin: 0 auto;
  background: #FFFFFF;
  border: 1px solid #55DFB4;
  border-radius: 18px; }

.price .basic_title {
  position: relative;
  width: 52px;
  height: 24px;
  left: 50px;
  top: 70px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #13253B; }
  .price .basic_title__amount1 {
    position: relative;
    display: inline;
    width: 59px;
    height: 64px;
    left: 45px;
    top: 70px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 46px;
    line-height: 64px;
    color: #FB3B64; }
  .price .basic_title__amount2 {
    position: relative;
    display: inline;
    width: 59px;
    height: 64px;
    left: 45px;
    top: 70px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 46px;
    line-height: 64px;
    color: #07ACE6; }
  .price .basic_title__amount3 {
    position: relative;
    display: inline;
    width: 59px;
    height: 64px;
    left: 45px;
    top: 70px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 46px;
    line-height: 64px;
    color: #55DFB4; }

.price .basic_title2 {
  position: relative;
  width: 52px;
  height: 24px;
  left: 50px;
  top: 70px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #13253B;
  left: 30px; }

.price .small {
  position: relative;
  top: 90px;
  left: auto;
  right: 35px;
  width: 74px;
  height: 14px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  color: #13253B; }

.price .container-list {
  position: relative;
  bottom: 25px; }
  .price .container-list__ul {
    position: relative;
    left: 168px;
    top: auto;
    bottom: 40px; }
  .price .container-list .list {
    position: relative;
    right: 10px;
    width: fit-content;
    height: 19px;
    top: 0px;
    margin-bottom: 20px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    list-style-type: none;
    text-align: center;
    color: #000000; }
    .price .container-list .list img {
      position: relative;
      right: 13px; }

.price__btnbegin1 {
  position: relative;
  width: 150px;
  height: 50px;
  right: 185px;
  left: 70px;
  top: auto;
  bottom: 35px;
  background: #FB3B64;
  border: none;
  border-radius: 23px; }

.price__btnbegin2 {
  position: relative;
  width: 150px;
  height: 50px;
  right: 185px;
  left: 70px;
  top: auto;
  bottom: 35px;
  background: #07ACE6;
  border: none;
  border-radius: 23px;
  box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.29);
  bottom: 10px;
  left: 90px; }

.price__btnbegin3 {
  position: relative;
  width: 150px;
  height: 50px;
  right: 185px;
  left: 70px;
  top: auto;
  bottom: 35px;
  background: #55DFB4;
  border: none;
  border-radius: 23px; }

.price__p {
  display: inline;
  width: 37px;
  height: 18px;
  left: 57px;
  top: 16px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  color: #FFFFFF; }

.cuestion_title {
  position: relative;
  top: 55px;
  margin-left: 0px;
  width: 280px;
  height: 47px;
  left: 30px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 47px;
  color: #000000; }

.cuestion_coments {
  position: relative;
  display: inline;
  top: 50px;
  left: 45px;
  width: 312px;
  height: 22px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #000000; }
