@import "base/fonts";
@import "base/h1";
@import "base/h2";
@import "base/maintitle";
@import "base/h4";
@import "base/mixin";
@import "base/section";
@import "base/macbook";
@import "base/iphone";


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
   min-width: 320px;
}

.nav{

    width: 375px;
    height: 70px;
    left: 0px;
    top: 0px;
    
    background: #FFFFFF;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.29);
    
    &__menu{
    display: inline;
     
    }
    img{
        width: 20px;
        height: 12px;
        left: 325px;
        top: 29px;
        margin-left: 94px;
        margin-top: 34px;
    }
}

h1 {
    @include h1(Raleway);
}

h2{
    @include h2(Raleway)
}
h4{
    @include h4(OpenSans)
}

.main{
  &__title{
    @include title;
  } 
}

.btn{
    width: 310px;
    height: 67px;
    left: 0px;
    top: 0px;
    margin-top: 148px;
    margin-left: 33px;
    background: #08A6E4;
    box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.29);
    border-radius: 40px;
}

.background{
    width: 779px;
    height: 267px;
    left: -201.5px;
    top: 434px;
    margin-top:51px;
}

h3{
    width: 303px;
    height: 112px;
    left: 36px;
    top: 714px;
    margin-top: 13px;
    margin-left: 36px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 35px;
    /* or 117% */
    
    text-align: center;
    
    color: #000000;
    
}

.circle1{
  @include circle(#FB3B64);
  img{
    margin-left: 30px;

  }
}



.numbers{
    @include numbers;
}

.phrase{
    @include phrase;
}

.circle2{
 @include circle(#08A6E4);
    img{
        margin-left: 30px;
        margin-top: 14px;
    }
}


.circle3{
   @include circle(#55DFB4);
   img{
    margin-left: 31px;
    margin-top: 6px;
   }
}


.benefits{
    @include benefits;
}

.benefits3{
    @include benefits3
}

.rectanglecolor{
    @include rectanglecolor
}