@import "base/fonts";
@import "base/nav";
@import "base/h1";
@import "base/h2";
@import "base/h3";
@import "base/btn";
@import "base/imgbackground";
@import "base/maintitle";
@import "base/h4";
@import "base/mixin";
@import "base/section";
@import "base/macbook";
@import "base/iphone";
@import "base/price";


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
   min-width: 320px;
}

h1 {
    @include h1(Raleway);
}

h2{
    @include h2(Raleway)
}
h4{
    @include h4(OpenSans)
}

.main{
  &__title{
    @include title;
  } 
}

.circle1{
  @include circle(#FB3B64);
  img{
    margin-left: 30px;
    }
}

.numbers{
    @include numbers;
}

.phrase{
    @include phrase;
}

.circle2{
 @include circle(#08A6E4);
    img{
        margin-left: 30px;
        margin-top: 14px;
    }
}
.circle3{
   @include circle(#55DFB4);
    img{
        margin-left: 31px;
        margin-top: 6px;
    }
}

.benefits{
    @include benefits;
}

.benefits3{
    @include benefits3
}

.rectanglecolor{
    @include rectanglecolor
}

.price{
    h2{
        @include pricetitle
    }
    &__basic{
        @include basic
    }
    .basic_title{
        @include basictitle;
        &__amount{
            @include basicamount
        }
        
    }
   
    .container-list{
        @include container-list;
        &__ul{
            @include container-list-ul;
        }
        .list{
            @include list
        }

    }
    &__btnbegin{
        @include pricebtnbegin
    }
        &__p{
            @include priceparagraph
        }
}