
@import "base/fonts";
@import "base/nav";
@import "base/h1";
@import "base/h2";
@import "base/h3";
@import "base/btn";
@import "base/imgbackground";
@import "base/maintitle";
@import "base/h4";
@import "base/mixin";
@import "base/section";
@import "base/macbook";
@import "base/iphone";
@import "base/price";
@import "base/cuestions";
@import "base/footer";
@import "base/scrollToTop";
// @use 'footer';


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-width: 320px;
}

h1 {
    @include h1(Raleway);
}
/****Main-page****/
h2{
    @include h2(Raleway)
}
h4{
    @include h4(OpenSans)
}

.main{
  &__content{
    margin-top:100px;
    text-align:center;
  }  
  &__title{
    @include title;
  } 
}
.popular-content{
    text-align:-webkit-center;

.circle1{
  @include circle(#FB3B64);
  img{
    margin-left: 30px;
    }
}

.numbers{
    @include numbers;
}

.phrase{
    @include phrase;
}

.circle2{
 @include circle(#08A6E4);
    img{
        margin-left: 30px;
        margin-top: 14px;
    }
}
.circle3{
   @include circle(#55DFB4);
    img{
        margin-left: 31px;
        margin-top: 6px;
    }
}
}

/*****Pricing*****/
.price{
    h2{
        @include pricetitle;
      
    }
    
    &__basic1{
        @include basic(#fb3b64);
    }
    &__basic1:hover{
       @include pricing-hover(#fb3b64);
        left:190px;
        transform: scale(1.08);
        transition: transform 0.5s ease-in-out;
       .price__btnbegin1{
        top: 25px;
       }
    }
    &__basic2{
        @include basic(#07ACE6);
    }
    &__basic2:hover{
        @include pricing-hover(#07ACE6);
            left:190px;
            transform: scale(1.08);
            transition: transform 0.5s ease-in-out;
        .price__btnbegin2{
            top: 25px;
           }
     }
    &__basic3{
        @include basic( #55DFB4)
    }
    &__basic3:hover{
        @include pricing-hover(#55DFB4);
            left:190px;
            transform: scale(1.08);
            transition: transform 0.5s ease-in-out;
        .price__btnbegin3{
            top: 25px;
           }
     }

    .basic_title{
        @include basictitle;
        &__amount1{
            @include basicamount(#FB3B64)
        }
        &__amount2{
            @include basicamount(#07ACE6);
        }
        &__amount3{
            @include basicamount(#55DFB4);

        }
        
    }
    .basic_title2{
        @include basictitle;
    }
    .basic_title3{
        @include basictitle;
    }
    .small{
        @include small
    }
   
    .container-list{
        @include container-list;
        &__ul{
            @include container-list-ul;
        }
        &__ul2{
            @include container-list-ul;
           
        }
        .list{
            @include list;
          
        }

    }
    &__btnbegin1{
        @include pricebtnbegin(#FB3B64)
    }

    &__btnbegin2{
        @include pricebtnbegin(#07ACE6);
      
    }
    &__btnbegin3{
        @include pricebtnbegin(#55DFB4)
    }
    &__p{
        @include priceparagraph-btn
    }
}

/****Contact****/
.contact{
    width: 80%;
    margin: auto;
    margin-top:50px;
    .contact-content_titles{
        margin-bottom:40px;
    }
    .contact-content_email-phone{
        margin-bottom:40px;
    }

    &__title{
        @include cuestiontitle;
    }
    &__coments{
        @include coments
    }
    &__infoemail{
        @include infocontact;
        img{
            margin-right: 10px;
        }
    }
    &__infophone{
        @include infocontact;
        margin-top: 17px;
        img{
            margin-right: 0.4rem;
        }
    }
    .form-contact{
        @include contactform;
        &__label{
            @include labelform;
        };
        &__label_email{
            @include labelform;
            top:82px;
        }
        #input-name{
            @include input
        };
        #input-email{
            @include input(122px)
        }

    }
    .form-contact-policy{
        margin-top: 200px;

    }
    .check{
        @include check;
    }
    .label-data-protection{
        position: relative;
        bottom: 25px;
    }
    .data-protection{
        @include data-protection
    }
    .btn-submit-container{
        @include btn-submit-container;
        &__button{
            @include btn-submit
        }
    }
}
//Responsive-Design

@media only screen and (min-width: 1000px) {
    /****Nav-Responsive****/
    .nav{
        img{
            display:none;
        }
        &__list{
            display:flex;
            justify-content:space-around;
        }
        .a-menu{
            display:flex;
            @include menu-a-desktop;
        }
        .a-menu:hover{
            color:black;
        }
        .nav__list .a-menu:hover{
            border-bottom: 4px solid #08a6e4;
            padding-bottom: 25px;
        }
        
    }
    .popular-container{
        display:flex;
        justify-content: space-evenly;
    }
    /****Benefits-Responsive****/
    .section__content{
        width:70%;

        .benefits{
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
        }
        .benefits__container-img {
            height:20.75rem;
            .macbook{
                position: inherit;
            }

            .benefits__background{
                bottom: 30%;
                width: 150px;
                height: 150px;
            }
        }
        .benefits__mytitle1{
            padding-left: 0px;
        }
        .benefits__lorem1{
            position: relative;
            padding-bottom: 3.125rem;
            padding-left: 0px;
        }
        .benefits__lorem1::before{
            content: "";
            position: absolute;
            left: 0px;
            bottom: -10px;
            height: 0px;
            width: 70%;
            border-bottom: 4px solid #FB3B64;
        }
        .benefits2-responsive{
            display:flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
            gap: 10rem;
            .benefits__mytitle2{
                width: 15rem;
                margin: 15px 0;
                padding-left: 0px;
            }
            .benefits__container-img .iphone{
                left: 5rem;
            }
            .benefits__background2{
                width: 280px;
                height: 280px;
            }
            .benefits__lorem2{
                position: relative;
                padding-bottom: 3.125rem;
                padding-left: 0px;
            }
            .benefits__lorem2::before{
                content: "";
                position: absolute;
                left: 0px;
                bottom: -10px;
                height: 0px;
                width: 70%;
                border-bottom: 4px solid #08A6E4;;
            }
        }
        .card3-responsive{
            display: flex;
            gap: 4rem;
            background-color: transparent;
            border: 0;
            .benefits3-responsive{
                background: white;
                margin: 0;
                padding: 2rem;
                max-width: 100%;
                border: 1px solid #e8e9ed;
                border-radius: 5px;
            }
            .benefits3__lorem3{
                position: relative;
                padding-bottom: 3.125rem;
                padding-left: 0px;
            }
            .benefits3__lorem3::before{
                content: "";
                position: absolute;
                left: 0px;
                bottom: -10px;
                height: 0px;
                width: 70%;
                border-bottom: 4px solid #55DFB4;;
            }
            .benefits3__mytitle3{
                padding-left: 0px;
            }
            .rectanglecolor{
                width: 60%;
                border: 1px solid #e8e9ed;
            }
        }
    }
  
    /****Pricing-Responsive****/
    .price__content{
        display: flex;
        justify-content: space-evenly;
        width:70%;

        .price__basic1, .price__basic2, .price__basic3{
            display: flex;
            flex-direction: column;
            padding: 4% 6% 5px ;

            .price__title-content{
                width: 100%;
                bottom: auto;

            }
            .container-list{
                margin-top: 45px;
                margin-bottom: 0px;
            }
            .container-list__ul{
                display: flex;
                flex-direction: column;
                align-items: center;
                flex-wrap: wrap;
            }
           
        }
        .price__basic1 .price__title-content{
            padding-bottom: 18px;
        }
    }
    
    /****Contact-Responsive****/
    .contact{
        display:flex;
        max-width: 56rem;
        .form-contact{
            margin-top: 0px;
        }
    }
    .contact-content{
        min-width: 50%;
    }
    .contact-content_email-phone{
        display: flex;
        gap: 1.5rem;
    }
    .contact__infophone{
        margin:0;
    }
   
  /****Footer-Responsive****/
    .footer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        padding-bottom: 1rem;
    }
    .footer__titles{
        margin-left: 0;
        padding-left: 8.5rem;
    }
    .footer__logos{
        position: unset;
        padding-right: 8.5rem;
        padding-bottom: 1rem;
    }

    #scrollToTop img{
        width: 50px;
        height: 50px;
    }

    
}