.btn{
    width: 310px;
    height: 67px;
    left: 0px;
    top: 133px;
    margin:0 auto;
    background: #08A6E4;
    box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.29);
    border-radius: 40px;
    border: none;
}