
@mixin cuestiontitle{
    margin-bottom: 5px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 47px;
    color: #000000;
}

@mixin coments{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #000000;
}

@mixin infocontact{
  
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #A5A5A5;
}

@mixin contactform{
    margin-top: 56px;

}

@mixin labelform{
    position: relative;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 3.28px;
    color: #08A6E4; 
}

@mixin input($top:41px){
    display:block;
    position: relative;
    width: 90%;
    left: 0px;
    top: $top;
    border: none;
    outline: none;
    border-bottom: 1px solid #95989A;
}

@mixin data-protection{
    position: relative;
    bottom: 25px;
    margin-left: 55px;
    margin-bottom: 20px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;

    color: #707070;
}

@mixin check{
    width: 24px;
    height: 24px;
    border: 1px solid #95989A;
    border-radius: 4px;

}
@mixin btn-submit-container{
    margin-left: 30%;
}
@mixin btn-submit{
    width: 226px;
    height: 57px;
    background: #08A6E4;
    box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.29);
    border-radius: 35px;
    border:none;
    .btn-submit__send{
        position: relative;
        width: 32px;
        height: 18px;
        left: 97px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 13px;
        line-height: 18px;
        color: #FFFFFF;
    }

}