h3{
    width: 303px;
    height: 112px;
    left: 36px;
    top: 714px;
    margin-top: 13px;
    margin-left: 36px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 35px;
    /* or 117% */
    
    text-align: center;
    
    color: #000000;
    
}