header{
    height: 70px;
    background: #FFFFFF;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.29);
}
.nav{
    &__oxygen-title{
        width: 80%;
        display: inline-block;
        position: relative;
        left: 6%;
        margin-top: 17px;
   
    };
    &__burger-menu{
        width: 10%;
    display: inline-block;
}
   

    &__list{
        display: none
    }
 
}