.price{
    width: 375px;   
}

@mixin pricetitle{
    position: relative;
    width: 114px;
    height: 42px;
    left: 131px;
    top: 53px;
    margin: 0px ;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;

    color:  #000000;

}

@mixin basic($color,$width,$height) {
    display: inline-block;
    position: relative;
    width: $width;
    height: $height;
    left: 41px;
    top: 70px;
    margin: 0 auto;
    background: #FFFFFF;
    border: 1px solid $color;
    border-radius: 18px;
}

@mixin pricebtnbegin($color) {
    position: relative;
    width: 150px;
    height: 50px;
    right: 185px;
    left: 70px;
    top: auto;
    bottom: 35px;

    background: $color;
    border:none;
    border-radius: 23px;
}

@mixin priceparagraph{
    display: inline;
    width: 37px;
    height: 18px;
    left: 57px;
    top: 16px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;


    color: #FFFFFF;
}

@mixin basictitle {
    position: relative;
    width: 52px;
    height: 24px;
    left: 50px;
    top: 70px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;


    color: #13253B;
}

@mixin basicamount($color){
    position: relative;
    display: inline;
    width: 59px;
    height: 64px;
    left: 45px;
    top: 70px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 46px;
    line-height: 64px;


    color: $color;
}



@mixin container-list{
    position:relative;
    bottom:25px;
}

@mixin container-list-ul{
    position: relative;
    left: 168px;
    top: auto;
    bottom: 40px;
}

@mixin list{
    position: relative;
    right: 10px;
    width: fit-content;
    // display: block;
    height: 19px;
    top: 0px;
    margin-bottom: 20px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    list-style-type: none;
    text-align: center;

    color: #000000;

     img{
        position: relative;
        right: 13px;
    }
}

@mixin small{
    position: relative;
    top: 90px;
    left: auto;
    right: 35px;
    width: 74px;
    height: 14px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;


    color: #13253B;
}