.price{
    text-align: center;
    &__content{
        width: 90%;
        margin: auto;
        margin-top: 25px;
    } 
    &__title-content{
        width: 40%;
        display: inline-block;
        position: relative;
        bottom: 25px;
    }
   
}

@mixin pricetitle{
    margin: auto ;
    margin-top:53px;
    margin-bottom: 50px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;

    color:  #000000;

}

@mixin basic($color) {
    margin-bottom: 54px;
    background: #FFFFFF;
    border: 1px solid $color;
    border-radius: 18px;
}
@mixin basic-titlecontent{
    width: 40%;
    display: inline-block;
 
}

@mixin pricebtnbegin($color) {
    position: relative;
    width: 150px;
    height: 50px;
    top: 30px;

    background: $color;
    border:none;
    border-radius: 23px;
}

@mixin priceparagraph-btn{
    display: inline;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;


    color: #FFFFFF;
}

@mixin basictitle {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #13253B;
}

@mixin basicamount($color){
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 46px;
    line-height: 64px;
    color: $color;
}



@mixin container-list{
    display: inline-block;
    width: 45%;
    margin-top: 45px;
    margin-bottom: 25px;
}

@mixin container-list-ul{

}

@mixin list{
    width: max-content;
    margin-bottom: 20px;
    text-align: initial;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    list-style-type: none;

    color: #000000;

     img{
        padding-right: 13px;
   
    }
}

@mixin small{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    color: #13253B;
}

@mixin pricing-hover($color){
    background: #FFFFFF;
    border: 1px solid $color;
    box-shadow: 5px 10px 27px $color;
    border-radius: 18px;

}