@mixin arrows{
    position: absolute;
    right: 6%;
    cursor:pointer;
    width: 30px;
    background: aliceblue;
    opacity: 0.5;
    transform: translateY(-50%);
    top: 50%;
    // transition: all .5s ease;
}   
.slider{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: 0 auto;
    overflow: hidden;
    &__container{
   
        img {
            margin:0 auto;
            object-fit: contain;
            width: 90%;
        }
        .slider_img{
            display:none
        }
        .slider_img-active {
            display: block;
        }
    }
    &__arrowBefore{
       @include arrows;
       left:6%;
       &:hover {
        left: 4%;
        }
    }
    &__arrowNext{
        @include arrows;
        &:hover {
            right: 4%;
        }
    }
    &__selected{
        display: flex;
        flex-direction: row;
        justify-content: center;
        column-gap: 5px;
        position: relative;
        bottom: 25px;
        .slider_circle{
            width:10px;
            height: 10px;
            border-radius:50%;
            border:none;
            cursor:pointer;
            background-color: rgba(164, 168, 163, 0.856);
        }
        .selected-active {
            background-color: #233d1c;
        }
    }
    
    
}
